*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(435deg, #cc3cfc, #6ff888);
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
/*
Aligning text and image present in class toDo-app
*/
.toDo-app{
    width: 100%;
    max-width: 540px;
    margin: 10px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
/*
Applying flex to heading and image and adding margin and padding from container box  
*/
.toDo-app h2{
    color: maroon;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.toDo-app h2 img{
    width: 30px;
    border-radius: 10px;
    margin-left: 10px; /*to give space between text and img*/
}

/*
Row class to style the text bar
*/

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    /* margin-right: 10px; */
}

input{
    flex: 1;
    border: none;
    border-radius: 10px;
    outline: none;
    background: linear-gradient(435deg, #fcf23c, #f96e6e);
    padding: 10px;
    font-weight: 14px;
    font-family: 'Times New Roman', Times, serif;
    
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: rgb(0, 30, 120);
    color: aliceblue;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

/*pseudo class*/
ul li::before{
    content: ' ';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("circle.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #1dd900;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url("tick.png");
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #f86f6f;
}